/* INDEX LESS */
/* VARIABLES LESS Document */
/* MIXINS LESS Document */
/*RESET LESS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* GLOBAL LESS */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto Slab', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto Slab', serif;
}
h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 79px;
}
h2 {
  font-size: 3.2rem;
  color: #2196F3;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 63px;
}
@media (max-width:480px) {
  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
  }
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}
a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
/*NAVIGATION LESS Document */
.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #0A2738;
  margin: 0 0 10px 0;
  height: 46px;
}
.navigation ul {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width:480px) {
  .navigation {
    display: none;
  }
}
.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 5%;
  margin: 1% 1%;
}
@media (max-width:480px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.header-container .login {
  color: #2196F3;
  margin: 0 0 20px 63%;
  text-decoration: underline;
  font-weight: bold;
}
@media (max-width:480px) {
  .header-container .login {
    display: none;
  }
}
.header-container h2 {
  margin: 0 0 0 10px;
}
@media (max-width:480px) {
  .header-container h2 {
    margin: 10px 0 0 0;
  }
}
.header-container p {
  margin: 0 0 0 30px;
}
@media (max-width:480px) {
  .header-container p {
    display: none;
  }
}
@media (max-width:480px) {
  .header-container .logo {
    display: none;
  }
}
.signup {
  text-decoration: underline;
  font-weight: bold;
}
/* FOOTER LESS Document */
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*HOME-PAGE LESS Document */
.main-content {
  margin-top: 30px;
  /*border: solid 5px black;*/
}
.divContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  /*background-color: orange;*/
}
@media (max-width:480px) {
  .divContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.divContainer .section-content {
  width: 40%;
  padding: 0 5% 0 0;
}
@media (max-width:480px) {
  .divContainer .section-content {
    width: 60%;
    margin: 1% 0 0 0;
  }
}
.divContainer .words h1 {
  text-align: left;
  margin: 0 0 5% 0;
}
@media (max-width:480px) {
  .divContainer .words h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
  }
}
.divContainer .words p {
  text-align: left;
  margin: 0 0 5% 0;
}
@media (max-width:480px) {
  .divContainer .words p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
  }
}
.divContainer .sign-up-btn {
  display: block;
  background-color: #2196F3;
  color: white;
  border: 0.5px solid;
  border-color: white;
  border-radius: 10px;
  padding-top: 7px;
  margin: 0 10px 20px;
  cursor: pointer;
  width: 328px;
  height: 35px;
  font-size: 2rem;
  text-align: center;
}
@media (max-width:480px) {
  .divContainer .sign-up-btn {
    width: 296px;
  }
}
.divContainer .log-in-btn {
  display: block;
  background-color: white;
  color: #2196F3;
  border: 0.5px solid;
  border-color: #2196F3;
  border-radius: 10px;
  padding-top: 7px;
  margin: 0 10px 20px;
  cursor: pointer;
  width: 328px;
  height: 35px;
  font-size: 2rem;
  text-align: center;
}
@media (max-width:480px) {
  .divContainer .log-in-btn {
    width: 296px;
  }
}
.phone-img {
  width: 30%;
}
@media (max-width:480px) {
  .phone-img {
    width: 100%;
  }
}
