/* INDEX LESS */
/* VARIABLES LESS Document */
/* MIXINS LESS Document */
/*RESET LESS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* GLOBAL LESS */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto Slab', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto Slab', serif;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
/*NAVIGATION LESS Document */
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 10px 0;
}
.navigation h2 {
  margin: 20px 0;
}
.navigation ul {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
/* FOOTER LESS Document */
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*HOME-PAGE LESS Document */
.main-content {
  margin-top: 30px;
  /*border: solid 5px black;*/
}
.divContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*background-color: orange;*/
}
.divContainer .words {
  /*border: 3px red solid;*/
  /*background-color: yellow;*/
}
.divContainer .words h1 {
  text-align: center;
}
.divContainer .words .btn {
  /*border: 2px solid black;*/
  text-align: center;
  color: white;
  padding-top: 7px;
  background-color: #2196F3;
  margin: 0 10px 20px;
  cursor: pointer;
  width: 200px;
  height: 35px;
  font-size: 2rem;
  border-radius: 10px;
}
img {
  width: 500px;
  height: 350px;
}
