/* GLOBAL LESS */

//General Styles
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: 'Roboto Slab', serif;

}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
}

h1{
	font-size:3.5rem;
}

h2 {
  	font-size: 3.2rem;
	color: @dodger-blue;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 63px;
}

h3 {
  font-size: 2.8rem;
}

p {
	font-size: 1.6rem;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
}

a {
	text-decoration:none;
	font-size:1.5rem;
	color:white;
}

a:hover{
	text-decoration:underline;
	font-weight:bold;
}

ul .current{
	text-decoration:underline;
	font-weight:bold;
}


.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;  
}