/*HOME-PAGE LESS Document */

.main-content{
    margin-top: 30px;
    /*border: solid 5px black;*/
}
.divContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-color: orange;*/
    .image{
        
        
    }
    .words{
		
		width:50%;
		
        h1{
            text-align: center;
        }
        
    }
	.btn{
            /*border: 2px solid black;*/
            text-align: center;
            color: white;
            padding-top: 7px;
            background-color: #2196F3;
            margin: 0 10px 20px;
            cursor: pointer;
            width: 200px;
            height: 35px;
            font-size: 2rem;
            border-radius: 10px;
        }
}


.phone-img{    
    width: 500px;
    height: 350px;
}

