/*HOME-PAGE LESS Document */

.main-content{
    margin-top: 30px;
    /*border: solid 5px black;*/
}
.divContainer{
    display: flex;
    flex-direction: row-reverse;
	justify-content:center;
    align-items: center;
    /*background-color: orange;*/
   
	.section-content{
		width:40%;
		padding: 0 5% 0 0;
	}
	
    .words{
		
        h1{
            text-align: left;
			margin: 0 0 5% 0;
        }
		
		p {
			text-align:left;
			margin:0 0 5% 0;
		}
        
    }
	.btn{
            /*border: 2px solid black;*/
            text-align: center;
            color: white;
            padding-top: 7px;
            background-color: #2196F3;
            margin: 0 10px 20px;
            cursor: pointer;
            width: 328px;
            height: 35px;
            font-size: 2rem;
            border-radius: 10px;
        }
}


.phone-img{    
	width:30%;
}

