/* MEET THE TEAM LESS Document */
.cardsContainer{
    /*border: 5px solid red;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media @mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}
.card {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 25%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    min-height: 300px;
	
    @media @mobile{
        width: auto;
        margin: auto;
    }
    h3{
        text-align: center;
    }
        .content{
            display: flex;
            flex-direction: column;
            justify-content: center;

			
            img{
                margin: 3% auto;
				transition: filter .5s ease-in-out;
				-webkit-transition: .3s ease-in-out;
				transition: .3s ease-in-out;
            }
			
			img:hover {
				-webkit-filter: grayscale(100%) blur(3px);
				filter: grayscale(100%) blur(3px);
			}
			
            h4{
                text-align: center;
                font-size: large;
                color: @dodger-blue;
                margin-bottom: 10px;
            }
            p{
                font-size: medium;
                text-align: center;
            }
        }
       
    
}
