/*NAVIGATION LESS Document */


// Navigation code here

.navigation{
	
	display:flex;
	justify-content: flex-end;
	align-items:center;
	background-color: @tiber;
	margin:0 0 10px 0;
	height: 46px;
	
	ul{
		width:50%;
		display:flex;
		justify-content:space-evenly;
	}
	
}